<div class="overlay"></div>
<section>
        <video controls autoplay loop>
          <source src="assets/videos/video.mp4" type="video/mp4">
          <source src="assets/videos/video.ogg" type="video/ogg">
        </video>
</section>

<section class="slider">
    <div class="slider-nav">
        <nav>
          <ul>
            <li class="tablink active">
              <a href="#welcome" onclick="openMenu(event,'welcome');return false;">
                <img src="assets/img/home-icon.png">
                <h6>WELCOME</h6>
              </a>
            </li>
            <li class="tablink">
              <a href="#about" onclick="openMenu(event,'about');return false;">
                <img src="assets/img/about-icon.png">
                <h6>About Us</h6>
              </a>
            </li>
            <li class="tablink">
              <a href="#feature" onclick="openMenu(event,'feature');return false;">
              <img src="assets/img/featured-icon.png">
              <h6>Featured</h6>
             </a>
            </li>
            <li class="tablink">
              <a href="#project" onclick="openMenu(event,'project');return false;">
                <img src="assets/img/projects-icon.png">
                <h6>Projects</h6>
              </a>
            </li>
            <li class="tablink">
              <a href="#contact" onclick="openMenu(event,'contact');return false;">
              <img src="assets/img/contact-icon.png">
              <h6>Contact Us</h6>
            </a>
          </li>
          </ul>
        </nav> 
    </div>

      <ul class="menu-slider">
          
          <!--Welcome-->
          <li class="Menu" id="welcome">
              <div class="heading">
                <h1>NEWLINE</h1>
                <h5>WELCOME TO WEB DESIGN AGENCY</h5>
              </div>
              <div class="container"></div>
              <div class="content align welcome-padding">
                <h2>ABOUT NEWLINE TEMPLATE</h2>
                <p>
                    Newline is free CSS template provided by templatemo site. Credits go to Pexels.com for a video background and Unsplash for<br>
                    images. Please support templatemo by spreading a word. Thank you. If you have any question, feel free to contact us on Facebook<br>
                    page. Quisque dictum convallis mi. In dapibus auctor dictum donec mattis quis eros ultricies feugiat.
                </p>
                <div class="primary-button margin-bottom">
                    <a href="#">Discover More</a>
                  </div>
            </div>
          </li>
          <!--Welcome End-->

          <!--About us-->
          <li class="Menu" style="display:none" id="about">
            <div class="heading">
              <h1>ABOUT US</h1>
              <h5>GET MORE INFO ABOUT OUR AGENCY</h5>
            </div>
            <div class="container"></div>
            <div class="content">
              <div class="about-left-side">
                  <img src="assets/img/left-about-image.jpg">
                  <div class="about-left-content">
                    <h2>WHO WE ARE?</h2>
                    <p>
                      Fusce neque leo, dapibus sed imperdiet sed, vulputate sed<br>
                      purus. Nam eget justo in nibh facilisis rhoncus. Donec et<br>
                      risus non mauris lobortis convallis. Aliquam id urna quis<br>
                      ante blandit semper.
                    </p>
                    <div class="input-btn">
                      <a href="#">Discover More</a>
                    </div>
                  </div>
              </div>
              <div class="right-img-content">
                <h2>WHAT WE DO?</h2>
                <p>
                  Nam aliquam ultrices interdum. Vivamus metus mi, accumsan a tincidunt a, efficitur id<br>
                  felis. Vivamus non nibh malesuada, vestibulum nulla in, iaculis sem. Aenean tincidunt<br>
                  faucibus ipsum, ac aliquet nunc accumsan sed. Nulla sodales nunc sit amet libero<br>
                  egestas, ut interdum ex congue.
                </p>
                <div class="input-btn">
                  <a href="#">Discover More</a>
                </div>
              </div>
              <div class="about-right-side">
                <img src="assets/img/right-about-image.jpg">
              </div>
          </div>
        </li>
        <!--About us End-->

        <!--Features-->
        <li class="Menu" style="display:none" id="feature">
          <div class="heading">
            <h1>FEATURED</h1>
            <h5>WE PRODUCE FEATURED PRODUCT EVERY WEEK</h5>
          </div>
          <div class="container"></div>
          <div class="content">
            <div class="features">
              <img src="assets/img/left-feature-image.png">
              
              <div class="feature-content">
                <h2>FEATURED PRODUCT: <span>NEWLINE</span></h2>
                <p>
                  Lorem ipsum dolor amet, consecte adipiscing elit,<br>
                  quisque dictum convallis mi. In dapibus auctor dictum<br>
                  donec mattis quis eros ultricies feugiat. Morbi congue<br>
                  faucibus mi, ague blandit curabitur ac lacinia.
                </p>
                <h4>- Suspendisse mattis finibus sem</h4>
                <h4>- Pellentesque et urna vel lectus</h4>
                <h4>- Vestibulum iaculis nisi dui</h4>
                <h4>- Donec sagittis eros , ac tempus ligula</h4>
                <h4>- Integer sapien risus, auctor</h4>
                <div class="primary-button">
                  <a href="#">Discover More</a>
                </div>
              </div>
            </div>
        </div>
      </li>
      <!--Features End-->

        <li class="Menu" style="display:none" id="project">
          <div class="heading"> 
            <h1>OUR PROJECTS</h1>
            <h5>HERE YOU CAN CHECK OUR RECENT PROJECTS</h5>
          </div>
          <div class="container"></div>
          <div class="content">
            <div class="project">
              <img src="assets/img/item-01.jpg">
              <img src="assets/img/item-02.jpg">
              <img src="assets/img/item-03.jpg">
              <img src="assets/img/item-04.jpg">
              <img src="assets/img/item-05.jpg">
              <img src="assets/img/item-06.jpg">
              <img src="assets/img/item-07.jpg">
              <img src="assets/img/item-08.jpg">
            </div>
        </div>
        </li>

        <!--contact us-->
        <li class="Menu" style="display:none" id="contact">
          <div class="heading">
            <h1>CONTACT US</h1>
            <h5>YOU'LL BE RESPONDED WITHIN 48 HRS</h5>
          </div>
          <div class="container"></div>
          <div class="content">
            <div class="contact-us">
              <div class="contact-content">
                <p>Maecenas imperdiet sagittis lacus, ut consequat<br>
                  velit iaculis id. Praesent eu consequat urna.<br>
                  Morbi justo dolor, ornare sed lorem et, auctor<br>
                  iaculis ligula.
                </p><br><br>
                <h4><em>5566 Donec mollis libero</em></h4>
                <h4><em>at metus luctus 10660</em></h4>
                <div class="social-media">
                  <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                      <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul>
              </div>
              </div>

              <div class="contact-form">
                <form>
                  <input type="text" placeholder="Your Name" required>
                  <input type="email" placeholder="Email" required><br>
                  <textarea placeholder="Message"></textarea>
                  <div class="input-btn">
                    <a href="#">Send Message</a>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </li>
      <!--contact us End-->
      </ul>

      <footer>
        Copyright © 2020 Your Company | Designed by Template Mo
      </footer>
</section>


        