/* You can add global styles to this file, and also import other style files */

* , html{
    margin:0;
}

*{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-size: 14px;
    color: #5a5a5a;
    font-weight: 300;
    line-height: 25px;
}